/* CSS Document */
  a.sort:link {  color: #000000;  font-size: 9pt}
  a.sort:visited {  color: #000000; font-size: 9pt}
  a.sort:hover {  color: #ff7f2c; text-decoration: none; font-size: 9pt}
  .topmenu {font-family:Arial;font-size:11pt;}
  input  {font-family:Arial;font-size:9pt;}
  .text {border-style: solid; border-width: 1}
  select  {font-family:Arial;font-size:9pt;}
  table   {font-family:ו;font-size:9pt;border: 0px solid #FFFFFF;}
  a:link {color:#0000FF;text-decoration:none;}
  a:active{color:#FF0000;text-decoration:none;}
  a:visited{color:#0000FF;text-decoration:none;}
  a:hover{color:#FF0000;text-decoration:none;}

